# General
.DS_Store
.vscode/

# Python / Flask
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
env/
.env

# Database
instance/
*.sqlite3
*.db

# Uploads
backend/uploads/before/*
backend/uploads/after/*
!backend/uploads/before/.gitkeep
!backend/uploads/after/.gitkeep
backend/data/uploads/before/*
backend/data/uploads/after/*
backend/data/uploads/profiles/*
!backend/data/uploads/before/.gitkeep
!backend/data/uploads/after/.gitkeep
!backend/data/uploads/profiles/.gitkeep

# Logs
backend/logs/

# Temporary Local Code Constraint
civic-native-app/
